@import "tailwindcss";

:root {
  --background: #191919;
  --foreground: #f0efed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.notion-card {
  /* width: 100%; */
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* position: relative; */
  top: -100px;
  z-index: 10;
  min-height: 100vh;
  /* min-width: 100vw; */
  gap: 8px;
  padding-left: 8rem;
  padding-right: 8rem;
}

.avatar {
  border-radius: 8px;
  overflow: hidden;
  /* border: 1px solid black; */
  box-shadow: 0 6px 14px rgba(16, 24, 40, 0.08);
  background: #fff;
  /* position: relative; */
}

.card-title {
  font-size: 40px;
  font-weight: 700;
  color: var(--foreground);

  max-width: 100%;
  width: 100%;
  white-space: break-spaces;
  word-break: break-word;
}

.card-text {
  line-height: 1.6;
  /* color: rgba(253, 253, 253, 0.8); */
}

.card-sections {
  display: flex;
  gap: 16px;
  margin-left: 96px;
  margin-top: 20px;
  color: rgba(23, 23, 23, 0.7);
}

/* @media (max-width: 640px) {
  .notion-card {
    border-radius: 6px;
  }
  .card-body {
    padding: 20px;
  }
  .avatar-wrap {
    left: 96px;
    top: -32px;
    width: 56px;
    height: 56px;
  }

  .card-title,
  .card-text,
  .card-sections {
    margin-left: 80px;
  }
} */
