#track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
}

#track {
  display: flex;
  flex-direction: row;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
}
